<header class="header">

  <div class="header-container">
      <!-- LOGO -->
       <a routerLink="/" class="brand">
        <img src="assets/logo.png" alt="Observatório IFPI Campus Picos" class="logo-img" />
        <div class="brand-text">
            <span class="title">OBSERVATÓRIO</span>
            <span class="subtitle">IFPI CAMPUS PICOS</span>
        </div>
       </a>

      <!-- MENUS -->
       <nav class="nav-menu">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</a>
          <a routerLink="/posts" routerLinkActive="active">Publicações</a>
          <a routerLink="/about" routerLinkActive="active">Sobre o Projeto</a>
        </nav>

  </div>

</header>
